.breakfast
{
    background-image: url(../images/big_navs/breakfast.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.lunch
{
    background-image: url(../images/big_navs/lunch.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.dessert
{
    background-image: url(../images/big_navs/dessert.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}



